:root {
  --not-black: rgb(15, 15, 15);
  --futura: "Futura", sans-serif;
  --futura-light: "Futura-Light", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--not-black);
  overflow-x: hidden;
}

header {
  background-color: var(--not-black);
  height: 100px;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
}

#headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 95%;
  margin-inline: auto;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 100px;
  font-size: 30px;
}

header nav ul li {
  position: relative;
  transition: 0.1s ease;
}

header nav ul li:hover {
  transform: scale(1.03);
}

header nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: center;
  transition: 0.2s ease-in-out;
}

header nav ul li:hover::after {
  transform: scaleX(1);
}

header a {
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 1000;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--not-black);
}

header img {
  width: 250px;
}

#iconsHeader {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#iconsHeader img {
  width: 40px;
}

#containerBody {
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

#grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-inline: auto;
  width: 80%;
}

.cardTenis {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: auto;

  font-family: futura;
  color: white;
  font-size: 40px;
  transition: 0.2s ease;
  cursor: pointer;
  position: relative;
}

.cardTenis:hover {
  transform: scale(1.01);
}

.cardTenis img {
  width: 100%;
}

.cardTenis h1 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: white;
  color: var(--not-black);
  padding: 10px 20px;
  border-radius: 9999px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  box-shadow: 0px 0px 20px #0000006c;
}

#carrossel {
  display: flex;
  position: relative;
  justify-content: space-around;
  margin-inline: auto;
  height: 700px;
  width: 100%;
  margin-bottom: 100px;
}

#carrossel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#footer {
  color: rgba(255, 255, 255, 0.824);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  background: var(--not-black);
  border: 1px solid rgba(0, 0, 0, 0.293);
  height: 300px;
  padding: 50px;
}

#containerShopping {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 310px;
  padding: 20px;
  margin-top: 100px;
}

#bodyShopping {
  background-color: rgb(255, 255, 255);
}

#sideBar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid var(--not-black);
  width: 300px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.filtros {
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
  height: 30px;
  width: 95%;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

#produtos {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 82%;
  gap: 20px;
}

.cardProduto {
  width: 24%;
  height: auto;
  text-align: start;
  border: 1px solid rgba(15, 15, 15, 0.171);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 0px 10px #00000020;
}

.cardProduto h1 {
  text-align: left;
}

.cardProduto .infos {
  width: 88%;
  margin-inline: auto;
  font-size: 20px;
  font-family: "Encode Sans Condensed";
  font-weight: 900;
}

.cardProduto button {
  width: 320px;
  padding: 10px 0px;
  font-size: 25px;
  color: white;
  background: var(--not-black);
  border-radius: 20px;
  margin-bottom: 40px;
  border: none;
}

.cardProduto img {
  width: 100%;
  height: 100%;
}

.titulos {
  width: 88%;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titulos h1 {
  font-weight: 800;
}

.infos h2 {
  font-weight: 400;
}

.titulos h3 {
  font-weight: 400;
}

.titulos h3 {
  color: rgba(43, 43, 43, 0.842);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-bar {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 5%;
  height: 10px;
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: var(--not-black);
  transition: width 10s linear;
}

.lancamento img {
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.lancamento {
  display: flex;
  flex-direction: column;
}

.lancamento .texto {
  color: white;
  text-align: center;
  display: flex;
  margin-inline: auto;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-130%);
  font-size: 50px;
  font-family: var(--futura);
}

.texto h2 {
  font-size: 50px;
  color: rgb(31, 100, 31);
  letter-spacing: 13px;
}

.lancamento button {
  display: flex;
  text-align: center;
  padding: 20px 50px;
  border: none;
  border-radius: 9999px;
  background-color: rgb(31, 100, 31);
  color: white;
  font-family: var(--futura);
  font-size: 30px;
  justify-content: center;
  margin-inline: auto;

  transition: 0.2s ease;
  transform: translateY(-300%);
}

.lancamento button:hover {
  background-color: rgb(53, 110, 53);
}

header.esporte {
  position: fixed;
  width: 100%;
}

button {
  cursor: pointer;
}

#bodyShopPage {
  background-color: white;
}

#fotoPrincipal {
  width: 740px;
  height: 760px;
}

#fotoPrincipal img {
  width: 100%;
  height: 100%;
}

.fotosLaterais {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 600px;
  width: 185px;
  justify-content: space-between;
}

.fotosLaterais img {
  width: 100%;
  height: 100%;
}

#containerShopPage {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: auto;
  margin-block: 150px;
}

#conteudoPrincipal {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 60%;
}

#conteudoTodo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#textosShopPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  background-color: rgba(211, 211, 211, 0.507);
  border-radius: 5px;
  padding: 30px;
  font-family: var(--futura);
  margin-left: 10px;
  gap: 30px;
}

#textosShopPage .descricao {
  font-family: var(--futura-light);
}

#textosShopPage .titulo {
  font-size: 50px;
  margin-top: 60px;
}

#textosShopPage .preco {
  font-size: 30px;
}

#textosShopPage button {
  font-size: 20px;
  color: var(--not-black);
  background: white;
  border: 1px solid var(--not-black);
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 20px;
}

#textosShopPage .textoClaro {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  color: rgb(105, 105, 105);
}

#textosShopPage button.btnTamanho {
  width: 50px;
  height: 40px;
  font-size: 20px;
  padding: 0;
  border-radius: 5px;
}

#textosShopPage #tamanhos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

#textosShopPage #tamanhos button.selected {
  background-color: var(--not-black);
  color: white;
  border: none;
  font-weight: 700;
}

a button.btnVerMais {
  width: 300px;
}

.cardAccount {
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 51, 51);
  width: 400px;
  height: 800px;
  gap: 20px;
  border-radius: 10px;
  padding: 10px;
}

.cardAccountItems {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.cardAccountItems img#imgPerfil {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 50px;
  border: 5px solid var(--not-black);
}

.cardAccountItems h1 {
  color: white;
  margin-top: 20px;
}

.cardAccountItems h2 {
  font-size: 20px;
  color: rgb(179, 179, 179);
  font-weight: 400;
}

.accountInfos {
  width: 70%;
  height: 800px;
  display: flex;
  flex-direction: column;
  background-color: rgb(51, 51, 51);

  border-radius: 10px;
  padding: 50px;
  color: white;
}

.botoesAccount {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  width: 100%;
  margin-inline: auto;
}

.botoesAccount img {
  width: 40px;
  height: 40px;
  margin-inline: 25px;
}

.botoesAccount button {
  background-color: rgb(105, 105, 105);
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  font-size: 23px;
  align-items: center;

  width: 100%;
  height: 80px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    
  transition: 0.3s ease;
}

.btnSelected {
  background: rgb(155, 155, 155) !important;
  transform: translateX(10px);
}

.mtop {
  margin-top: 100px;
  gap: 20px;
}

#textosShopPage #descricao {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

#carrinhoContainer {
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 150px;
}

.carrinhoContent {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.produtoCarrinho {
  width: 930px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(234, 234, 234, 0.766);
  color: var(--not-black);
  border-radius: 5px;
}

.produtoCarrinho img {
  width: 150px;
  height: 150px;
}

.infoEsquerda {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.infoEsquerda div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

#listaCarrinho {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.infoTotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  font-size: 24px;
}

.infosFinais {
  width: 50%;
  height: 350px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(234, 234, 234, 0.766);
  color: var(--not-black);
  padding: 20px 30px;
  border-radius: 5px;
}

.infosFinais h1 {
  font-size: 40px;
  text-align: center;
}

.infosFinais button {
  width: 100%;
  height: 50px;
  background-color: var(--not-black);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

.infosFinais button:hover {
  background-color: rgba(0, 0, 0, 0.88);
  transform: scale(1.01);
}

#resumoDireita {
  text-align: right;
}

.qtdSelect {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}

.btnRemover {
  font-weight: 500;
  color: var(--not-black);
  font-size: 25px;
  position: relative;
  right: -90px;
  transform: translateY(-90%);
  cursor: pointer;
}

.infoPai {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 400px;
  flex-wrap: wrap;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h5 {
  font-size: 25px;
  color: rgb(238, 238, 238);
}

.info p.mudar {
  font-size: 20px;
  font-weight: 500;
  color: rgb(136, 121, 223);
  cursor: pointer;
  transition: 0.2s ease;
}

.info p.mudar:hover {
  color: rgb(255, 255, 255);
}

.info span {
  width: 80%;
  background-color: rgba(164, 164, 164, 0.206);
  padding: 5px;
  border-radius: 5px;
  margin-block: 5px;
}

.info button.excluir {
  width: 20%;
  background-color: rgba(164, 164, 164, 0.206);
  border: 2px solid rgba(255, 255, 255, 0.474);
  border-radius: 5px;
  padding: 10px;
  color: rgb(183, 53, 53);
  font-weight: 500;
  font-size: 18px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button.voltarLoja {
  width: 200px;
  height: 50px;
  background-color: rgb(105, 105, 105);
  color: white;
  border: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
